@using Asp.Core
@{
    ViewData["Title"] = Constants.MainPages.ReleaseHistory;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        <i class="fa fa-flag" aria-hidden="true"></i> @ViewData["Title"]
    </h1>
</div>

<div class="content">
    <div class="box box-primary form-horizontal">
        <div class="box-header with-border">
            <h3 class="box-title">7/5/2017</h3>
        </div>
        <div class="box-body">
            <h4>Initial Release</h4>
            <ul>
                <li>User Sign-in <span class="label label-success">Done</span></li>
                <li>Dashboard <span class="label label-success">Done</span></li>
                <li>Users <span class="label label-success">Done</span></li>
                <li>Settings <span class="label label-success">Done</span></li>
                <li>Email Templates <span class="label label-success">Done</span></li>
                <li>Log <span class="label label-success">Done</span></li>
                <li>Email Sender <span class="label label-warning">In Progress</span></li>
            </ul>
        </div>
    </div>
</div>