@using Asp.Core
@{
    ViewBag.Title = Constants.MainPages.Home;
    Layout = "_Layout";
}


<div class="content-header clearfix">
    <h1 class="pull-left">
        @ViewBag.Title
    </h1>
</div>

<div class="content">
    <div class="callout callout-info">
        <h4>Welcome!</h4>

        <p>Welcome to ASP.NET Core Active Directory Starter Kit.</p>
    </div>
</div>

