@using Asp.Core
@{
    ViewData["Title"] = Constants.MainPages.AntiForgery;
}

<section class="content-header clearfix">
    <h1><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> @ViewData["Title"]</h1>
</section>

<div class="content">
    <div class="box box-danger">
        <div class="box-body">
            @Html.Raw(Constants.Messages.AntiForgery)
        </div>
    </div>
</div>