<?xml version="1.0" encoding="utf-8" ?>

<!--
  NOTE: Use this to log internal error, if you have issue configuring NLog.
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\temp\internal-nlog.txt">
-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database">
      <connectionString>${var:connectionString}</connectionString>
      <!-- 
          Script for creating the dbo.Log table.
 
          SET ANSI_NULLS ON
          GO
          SET QUOTED_IDENTIFIER ON
          GO
          CREATE TABLE [dbo].[Logs](
	          [Id] [int] IDENTITY(1,1) NOT NULL,
	          [Application] [nvarchar](50) NOT NULL,
	          [Logged] [datetime] NOT NULL,
	          [Level] [nvarchar](50) NOT NULL,
	          [Action] [nvarchar](50) NULL,
	          [Controller] [nvarchar](50) NULL,
	          [Identity] [nvarchar](50) NULL,
	          [Referrer] [nvarchar](250) NULL,
	          [UserAgent] [nvarchar](250) NULL,
	          [Url] [nvarchar](500) NULL,
	          [Message] [nvarchar](max) NOT NULL,
	          [Logger] [nvarchar](250) NULL,
	          [Callsite] [nvarchar](max) NULL,
	          [Exception] [nvarchar](max) NULL,
           CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
          (
	          [Id] ASC
          )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
          ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

          GO
        -->
      <commandText>
        INSERT INTO dbo.Logs (Application,Logged,[Level],Action,Controller,[Identity],Referrer,UserAgent,Url,Message,Logger,Callsite,Exception)
        VALUES (@Application,@Logged,@Level,@Action,@Controller,@Identity,@Referrer,@UserAgent,@Url,@Message,@Logger,@Callsite,@Exception);
      </commandText>
      <parameter name="@Application" layout="ASP" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Action" layout="${aspnet-MVC-Action}" />
      <parameter name="@Controller" layout="${aspnet-MVC-Controller}" />
      <parameter name="@Identity" layout="${aspnet-User-Identity}" />
      <parameter name="@Referrer" layout="${aspnet-Request-Referrer}" />
      <parameter name="@UserAgent" layout="${aspnet-Request-UserAgent}" />
      <parameter name="@Url" layout="${aspnet-Request-Url}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>
  
  <rules>
    <!-- Skip Microsoft logs, and log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>